[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "Penumbra/Penumbra.Api"]
	path = Penumbra/Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api.git
